<% @page_title = "Edit Appraisse Item" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="appraisse edit">
  <h2>Edit Appraisse</h2>

  <%= form_for(:appraisee, :url => {:action => 'update', :id => @appraisee.id }) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Appraisse") %>
    </div>

  <% end %>
</div>
