<% @page_title = "Users List" %>

<%= link_to("<< Back to Menu", {:controller => 'users', :action => 'home'}, :class => 'back-link') %>

<div class="user index">
  <h2>Users Lists</h2>

  <%= link_to('Add New User', {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@user.size, 'admin user') %> found</div>

  <table class="listing" summary="Admin users list">
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
	<%= render(@user)%>
  </table>

</div>
